@model Manufacture_ASP.NET_MVC.Models.ComplitedStatus

@{
    ViewData["Title"] = "Обзор";
}

<h1>Обзор</h1>

<div>
    <h4>ComplitedStatus</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Status">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
